[build]
  command = "pnpm run build"
  publish = "build/client"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/index"
  status = 200

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["@netlify/remix-adapter"]